/* components */
@import "/css/components/status-bar.css";
@import "/CSS/components/welcome.css";
@import "/css/components/main-header.css";
@import "/css/components/user-component.css";

/* screens */

:root {
	/* color */
	--main-yellow: #fee101;
	--basic-chat: #abc0d1;
	--dark-grey: rgb(99, 99, 99);
	--grey: #d4d5d9;
	--light-grey: #ececec;

	/* font-size */
	--fs-xs: 12px;
	--fs-x: 14px;
	--fs-m: 16px;
	--fs-l: 18px;
	--fs-xl: 20px;
	--fs-2xl: 22px;
	--fs-3xl: 24px;

	/* img-size */
	--img-s: 30px;
	--img-m: 40px;
	--img-l: 50px;

	/* spacing */
	--s-spacing: 5px;
	--m-spacing: 10px;
	--l-spacing: 15px;
	--xl-spacing: 20px;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Gamja Flower", cursive;
}

a {
	text-decoration: none;
	color: var(--dark-grey);
}

input,
button {
	border: none;
}

.main-container {
	margin: var(--l-spacing);
}
