.user-component {
	margin-top: 10px;
	padding: var(--s-spacing) 0;
	/* background-color: orange; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-component__col,
.menu__col {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.user-component__col span {
  font-size: var(--fs-xs);
	color: var(--grey);
}

.user-component__avatar {
  width: 50px;
	height: 50px;
	border-radius: 40%;
	margin-right: 10px;
	object-fit: cover;
}

.user-component__fixed {
  display: flex;
	justify-content: flex-start;
	align-items: center;
  margin-bottom: 5px;
}

.user-component__fixed i {
  margin-left: var(--m-spacing);
	color: var(--grey);
  font-size: var(--fs-xs);
}

.user-component__title {
	font-size: var(--fs-l);
	font-weight: bold;
}

.user-component__subtitle {
	font-size: var(--fs-s);
	color: var(--dark-grey);
}

.channel-component {
	padding: var(--s-spacing) 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.channel-component__avatar {
	width: 40px;
	height: 40px;
	border-radius: 40%;
	margin-right: 10px;
	object-fit: cover;
}

.channel-component__title {
	font-size: var(--fs-m);
	font-weight: bold;
}

.channel-component__subtitle {
	font-size: var(--fs-xs);
	color: var(--dark-grey);
}

.menu__col i {
	margin-left: var(--m-spacing);
}

.bar {
	width: 100%;
	border-bottom: 1px solid var(--grey);
	margin: var(--m-spacing) 0;
}
