.welcome {
	/* background-color: pink; */
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.welcome__title {
	letter-spacing: 1.3px;
	margin-bottom: var(--l-spacing);
}

.welcome__text {
	text-align: center;
	font-size: var(--fs-l);
	color: var(--dark-grey);
	margin-bottom: var(--l-spacing);
}

.login-form {
	display: flex;
	flex-direction: column;
	margin-top: var(--l-spacing);
}

.login-form input {
	border-bottom: 1px solid var(--light-grey);
	margin: var(--m-spacing) 0;
	padding-bottom: var(--l-spacing);
	font-size: var(--fs-l);
}

.login-form input::placeholder {
	color: var(--grey);
}

.log-in,
.sign-up {
  margin-top: var(--m-spacing);
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-size: var(--fs-l);
}

.find-info {
    text-align: center;
    margin-top:var(--l-spacing);
}